<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>Welcome {{username}}!</h1>

<input type="text" placeholder="Add a title" name="title" />
<textarea rows="4" cols="10" placeholder="Add your code" name="body" />
<input type="textarea" placeholder="Notes" name="notes" />
<select value="Tag">
         <option value="">front-end</option>
         <option value="">back-end</option>
         <option value="">authentication</option>
         <option value="">security</option>
     </select>
     <button type="submit">Create Snippet</button>
     <script src="index.js"></script>
  </body>
</html>
