<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Dashboard</title>
  </head>
  <body>
    <h1>Welcome {{username}}!</h1>

<input type="text" placeholder="Add a title" name="title" />
<input type="textarea" placeholder="Add your code" name="body" />
<input type="textarea" placeholder="Notes" name="notes" />
<select value="Tag">
         <option value="">front-end</option>
         <option value="">back-end</option>
         <option value="">authentication</option>
         <option value="">security</option>
     </select>
  </body>
</html>
